body, html {
	margin: auto;
	overflow: scroll;
	background: rgb(22,34,144);
	background: linear-gradient(45deg, rgba(22,34,144,0.9806062073266807) 7%, rgba(26,177,203,1) 38%, rgba(144,151,145,1) 95%);
}
h1 {
    font-size: 2em;
    text-shadow: 2px 2px #000000;
    text-align: center;
    color: blanchedalmond;
    font-family: 'Cinzel', serif;
    text-decoration: underline;
    margin: auto;
	}
.container {
	background: linear-gradient(45deg, rgba(22,34,144,0.9806062073266807) 3%, rgba(26,177,203,1) 29%, rgba(144,151,145,1) 67%);
}
	
.imagebg {
	display:inline-flex; 
	width:90%;
	margin-left: 40px;
	border: 2px solid black;
	box-shadow: 0 4px 8px black, 0 6px 20px 0 black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.images-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-table {
	position: flex;
}
.button {
	width: 130px;
	height: 50px;
	font-family: 'Cinzel', serif;
	font-size: 1em;
	color: white;
	border-radius:20px;
	padding: 4px 8px;
	position:relative;
	background-color: #545550;
	text-decoration: none;
}
.button a:link {
	color: wheat;
}
.button a:visited {
	color: wheat;
}
/* .button a:active { 
	color: red;
	} */
.button a:hover {
	color: blue;
}
/*----------------------------Footer--------*/
.footer small {
    font-weight: 400;
}
.footer {
    position: fixed;
    color: #cac8a0;
    background-color: #666666;
    font-size: 14px;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 4px 0 4px 0;
	background: rgb(26,177,203);
	background: linear-gradient(45deg, rgba(26,177,203,1) 0%, rgba(22,34,144,0.9806062073266807) 1%, rgba(144,151,145,1) 45%);
    text-align: center;
}

